.items{
    grid-area: n;
    background-color: #aacece;
    height: 800px;
}

.items ul {
    padding:0 0 0 10px;
}

.items li {
    color: white;
    font-size: 18px;
}

.active {
    color: gray;
    display: block;
    padding: 10px 10px 10px 0px;
    margin: 0 0 0 -10px;
    text-align: right;
    background: linear-gradient(to left, #aacece, white);
}

